.principal {
  background-color: orange;
  color: white;
  text-align: center;
}
.image {
  width: 200px;
  height: auto;
}
a {
  text-decoration: none;
}
.imagepage {
  width: 360px;
  height: auto;
}
